<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Calculator</title>

	<script language="javascript">
		function fadd()
		{
			var first,sec,res;
			//Take the value of first textbox and convert it to float
			first=parseFloat(document.forms[0].txt1st.value);
			//Take the value of second textbox and convert it to float
			sec=parseFloat(document.forms[0].txt2nd.value);
			res=first+sec;
			//show the result in alertbox
			//alert("the result"+res);
			//show the result in the result textbox
			document.forms[0].txtresult.value=res;
		}
	</script>
  
</head>
<body>

<form name="cal" method="post" action="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="19%"><div align="left">Nr. 1

</div></td>
<td width="81%"><input name="txt1st" type="text" id="txt1st"></td>
</tr>
<tr>
<td><div align="left">Nr. 2 

</div></td>
<td><input name="txt2nd" type="text" id="txt2nd"></td>
</tr>
<tr>
<td height="28"><div align="left">

</div></td>
<td height="28">
	<input name="btnadd" type="button" id="btnadd" value="+" onclick="fadd()">
	<input name="btnadd" type="button" id="btnadd" value="-" onclick="scadere()">
</td>
</tr>
<tr>
<td height="21"> <div align="left">= </div></td>
<td height="21">
	<input name="txtresult" type="text" id="txtresult">
</td>
</tr>
<tr>
<td colspan="2">&nbsp; </td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
</table>
</form>

</body>
</html>
